table{
    width:95%;
    display:block;
    margin:10px auto;
    border-spacing:0px;
}

tr:nth-child(even){
    background:rgb(220,220,220);
}

th{
    background:rgb(30,30,30);
    color:white;
    padding:5px 0px;
}

td{
    padding:2px;
}
td.status.VOIDED{
    color:red;
}
td.status.PAID{
    color:green;
}
td.status{
    color:orange;
    text-align:center;
    padding-right:4px;
    border-right:1px dotted rgb(100,100,100);
}
td.number{
    text-align:right;
    font-family:'Monospace';
    border-right:1px dashed rgb(170,170,170);
    padding-right:4px;
}   
td.strong{
    font-weight:bold;
}
