<head>
  <title>Chaser Invoice App</title>
</head>

<body>
  <h1>Invoices</h1>

  <button>Update invoices</button>

  <table>
      <tr>
          <th>Contact name</th>
          <th>Date invoiced</th>
          <th>Date due</th>
          <th>Status</th>
          <th>Currency</th>
          <th>Subtotal</th>
          <th>Tax</th>
          <th>Total</th>
          <th>Due</th>
          <th>Paid</th>
          <th>Credited</th>
      </tr>
  {{#each invoices}}
    {{> invoice}}
  {{/each}}
  </table>

</body>

<template name="invoice">
    <tr>
        <td>{{Contact.Name}}</td>
        <td>{{format_date Date}}</td>
        <td>{{format_date DueDate}}</td>
        <td class="status {{Status}}">{{Status}}</td>
        <td class="number">{{CurrencyCode}}</td>
        <td class="number">{{SubTotal}}</td>
        <td class="number">{{TotalTax}}</td>
        <td class="number">{{Total}}</td>
        <td class="number strong">{{AmountDue}}</td>
        <td class="number">{{AmountPaid}}</td>
        <td class="number">{{AmountCredited}}</td>
    </tr>
</template>
